body {
  min-width: 980px;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 18px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
}

.conteiner{
	width: 1440px;
	margin: 0  auto;
	padding: 0  auto;
}

/*Стили меню*/
.menu {
	padding-top: 60px;
}

.menu p{
	text-align: center;
	font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;

}

.menu-nav{ 
  width: 1170px;
  margin: 0 auto;
	padding-top: 46px;
	display: flex;
	justify-content: space-around;	
}

.menu-nav li{
  list-style: none;
}

.menu-nav li a{
  text-decoration: none;  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 2px; 
  text-transform: uppercase;
  color: black;
}

.menu-nav li a:hover{
  color: #ff7931;
}
/*Стили логотипа*/
.logo{
  margin-top: 47px;
  background-image: url('image/Hotel.jpg');
}

.logo-icon{
  position: relative;
  width: 55px;
  height: 55px;
  top: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #FF7931;
  text-align: center; 
}

.logo-icon>img{
  position: absolute;
  left: -50%;
  top: -50%;
  bottom: -50%;
  right: -50%;
  margin: auto;
}

.logo h1{
  padding-top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;  
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo p{
  width: 456px;
  padding-top: 139px;
  padding-bottom: 48px;
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
/*Стили обзоров*/
h2{
  text-align: center;
  margin-top: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}

.overview{
  display: flex;
  justify-content: space-around;
  margin-right: 104px;
  margin-left: 106px;
  list-style: none; 
}

.overview>li{
  margin: 29px;
  margin-top: 20px;
}

strong{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;  
}

p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
/*Стили скидок*/
.subscription{ 
  position: relative;    
  width: 100%;
  height: 556px;
  background-color: #F7F7F7;
}

.ellipse{
  position: absolute;
  z-index: 1; 
  margin: 0 auto;
  width: 707px;
  height: 707px;
  border-radius: 50%;
  background-color: white;
  left: 25%;
  top: -10%;  
}

.bonus{ 
  position: absolute;
  z-index: 2;
  text-align: center;  
  list-style: none;
  left: 35%;
  margin-top: 33px;   
  width: 370px; 
}

button{  
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FF7931;
  color: white;
  width: 170px;
  height: 47px;
  border: none; 
}

button b{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 10px;
}
/*Оформление подвала*/
footer{
  position: relative;
  background-color: #575757;
  margin-top: 50px;
  z-index: 3;
}

.footer p{
  margin-top: -34px;
  font-size: 28px; 
  line-height: 37px;
  color: white;
}

.footer .menu-nav{
  margin-top: -36px;
}

.footer .menu-nav li a{  
  color: white;  
}

.footer .menu-nav li a:hover{
  color: #ff7931;
}

.border{
  padding-top: 46px;
  opacity: 0.4;
  border-bottom: 1px solid #FFFFFF;
  width: 1170px;
  margin: 0 auto;
}

.socseti{
  display: flex;
  justify-content: center;
  padding-top: 42px;  
  color: white;   
  text-align: center;
  padding-bottom: 46px;
}

.socseti a{
  width: 47px;
  height: 47px;
  background-color: white;
  margin:  7px;  
}
.socseti img{
  padding-top: 25%;  
  background-color: white;  
}
















